.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0a192f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 60px;
  z-index: 1000;
}


.logo {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
}

.logo-highlight {
  color: #64ffda;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  gap: 28px;
  list-style: none;
}

.nav-menu li a {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  font-size: 15px;
  color: #ccd6f6;
  font-weight: 400;
  transition: 0.3s ease;
}

.nav-menu li a:hover {
  color: #64ffda;
  transform: translateY(-2px);
}

.nav-menu .active {
  color: #64ffda;
  border-bottom: 2px solid #64ffda;
  padding-bottom: 4px;
}

@media (max-width: 768px) {
  .navbar {
    padding: 12px 20px;
  }

  .nav-menu {
    display: none;
  }
}
